* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
body {
  font-family: Helvetica neue , Arial;
  font-size: 18px;
}

.container{
  width:1140px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

}
.blog-box
{
  padding-right:30px;

  float: left;
  width: 75%;
}

.outer-box{

  float: left;
  width:25%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


.author-box{
border-top: #808080;
border-top:1px solid #808080;
padding-top:20px;
}


h1,h2 {
  color: #069a11;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

h2 {
  font-size:25px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.main-class{
    text-align: justify;
}
.other{
    margin-bottom: 40px;
}
.blog-box img{
  height:100px;
  width: auto;

}
.author-box img{
   height: 100px;
   width: 100px;
   border-radius: 100%;
   float: left;
}
.author-text{
  float:left;
    margin-top: 30px;
    margin-left: 10px;
}
